<div class="container">
  <h2>Weather App 🌤️</h2>

  <div class="search-box">
    <input type="text" placeholder="Entrer une ville..." [(ngModel)]="city">
    <button (click)="searchWeather()">Chercher</button>
  </div>

  <!-- loading -->
   <div *ngIf="loading" class="loading">
    Chargement...
   </div>

   <!-- erreur -->
    <div *ngIf="errorMessage" class="error">
      {{errorMessage}}
    </div>

    <!-- Resultats -->
     <div *ngIf="weatherData" class="result">
      <h3>{{weatherData.name}}, {{weatherData.sys.country}}</h3>

      <p>Température : {{weatherData.main.temp}} °C</p>
      <p> Ciel : {{weatherData.weather[0].description}}</p>
      <p> Vent : {{weatherData.wind.speed}} m/s</p>
      <p> Humidité : {{weatherData.main.humidity}} %</p>
      
      <img 
      [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
      alt="weather icon">
     </div>
</div>